.calc-container {
    display: flex;
    max-width: 350px;
    max-height: 400px;
    background-color: lightgrey;
    padding: 24px;
    overflow: auto;
}

.calc-container div {
    flex: 1 1 0;
}

button {
    display: block;
    width: 100%;
    margin: 1px;
}

.number-set {
    display: flex
}

.delete-clear-container {
    display: flex;

}

.display {
    background-color: white;
}